{% extends "layout.html" %}
{% block content %}
{% load bootstrap4 %}


    <div class="d1"></div>
    <div class="u-size-20">
      <div class="u-layout-col">
        <div class="u-align-center u-container-style u-layout-cell u-size-40 u-white u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1">
            {% load static %}
            <img class="u-expanded-width u-image u-image-1 hovid"  data-image-width="770" data-image-height="420">
            <h4 class="u-text u-text-default u-text-2">TCE</h4>
            <p class="u-text u-text-3">Aqui encontrarás diferentes componentes tecnologicos, esta es una tienda busca lo que necesites.</p>
          </div>
        </div>
        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>

    <div  style="" class="d2"></div>
    <div class="u-size-20">
      <div class="u-layout-col">
        <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-3">
          <div class="u-container-layout u-container-layout-3"></div>
        </div>
        <div class="u-align-center u-container-style u-layout-cell u-size-40 u-white u-layout-cell-4">
          <div class="u-container-layout u-container-layout-4">
            {% load static %}
            <img class="u-expanded-width u-image u-image-2 hovid" src="media/images/duino.jpg" data-image-width="1960" data-image-height="1103">
            <h4 class="u-text u-text-4">HOMEDUINO</h4>
            <p class="u-text u-text-5">Dentro de esta parte de nuestra página encontrarás la manera de como controlar las luces de tu casa mediante arduino y una conexión web<br>Quedate a ver que ocurre!
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="d3"></div>
    <div class="u-size-20">
      <div class="u-layout-col">
        <div class="u-align-center u-container-style u-layout-cell u-size-40 u-white u-layout-cell-5">
          <div class="u-container-layout u-container-layout-5">
            {% load static %}
    
            <h4 class="u-text u-text-default u-text-6">INFOMATICA</h4>
            <p class="u-text u-text-7">Dentro de esta parte de nuestro proyecto encontrarás lo que es noticias de último tiempo sobre tecnología, no te quedes con la duda entra!!</p>
          </div>
        </div>
    <div class="d4"></div>

    <section class="u-clearfix u-grey-5 u-section-1" id="carousel_5aca">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-palette-3-base u-text-1">GREYMAC</h2>
        <div class="u-clearfix u-expanded-width u-gutter-26 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              
            
              
                  <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-size-20 u-layout-cell-6">
                    <div class="u-container-layout u-container-layout-6"></div>

              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">&nbsp;Página de servicios&nbsp;</h2>
                  <p class="u-text u-text-default u-text-2">Plataforma de control de iluminación del hogar desde algún lugar que te encuentres ,este tiene tanto interfaz web como movil. Ofrece a su vez un entorno de ventas electronico, con sección de entretenmiento Infomatica</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>
{% endblock %}