{% extends "layout.html" %}
{% block content %}
	<div class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<div id="titulo">INFOMATICA</div>
				<!-- Header -->
					<header id="header">
						<h1><a href="index.html"><strong>INFOMATICA</strong> PLATSERVICES</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">CONTACTO</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="css/images/fulls/01.jpg" class="image"><img src="images/smalls/01.jpg" alt="" /></a>
							<h2>OPTIMUS Y BUNBLEBEE EN PERU</h2>
							<p>Paramount Pictures confirmó que la ciudad del Cusco, específicamente Machu Picchu, 
								será uno de los lugares de rodaje de la nueva saga de Transformers: Rise of the Beasts
								 (Transformers: el despertar de las bestias), 
								cuyo estreno está programado en los cines para el 24 de junio del 2022.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/02.jpg" class="image"><img src="images/smalls/02.jpg" alt="" /></a>
							<h2>PRESIDENTE CASTILLO CONFIRMA INDULTO A ANTAURO HUMALA: Fuente Expreso.com</h2>
							<p>EXPRESO conversó con la dama, quien explicó que el ofrecimiento de antes de segunda vuelta fue ratificado en un local de Perú Libre en la avenida Brasil. El hombre del sombrero, ya al mando del país, no solo usaba la casa de Segundo Alejandro Sánchez Sánchez -proveedor del Estado- al lado de la avenida Venezuela en Breña, sino el local partidario que fuera allanado hace dos semanas.

								Sobre el caso del etnocacerista, Andrade explicó que las posibilidades de libertad son más que diversas: 
								desde un indulto hasta validar horas de trabajo dentro de los penales, pasando por una eventual conmutación de pena.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/03.jpg" class="image"><img src="images/smalls/03.jpg" alt="" /></a>
							<h2>BONO YANAPAY: CONOCE COMO ACCEDER</h2>
							<p>La entrega de este subsidio de 350 o 700 soles será distribuido mediante cuatro grupos. Recuerda que para ser beneficiario del bono,
								 el ingreso total de los hogares no debe superar los 3.000 soles, de acuerdo a la información disponible de la Superintendencia de Banca, Seguros y AFP (SBS),
								  la Sunat, el Aplicativo Informático para el Registro Centralizado de Planillas y de Datos de los Recursos Humanos del Sector Público, o la planilla privada.</p>
							<p><a href="http://www.yanapay.gob.pe" target=”_blank”>LINK DE BONO</a></p>
								  
						</article>
						<article class="thumb">
							<a href="images/fulls/04.jpg" class="image"><img src="images/smalls/04.jpg" alt="" /></a>
							<h2>GOBIERNO REGIONAL:"REPLICA DEL HUASCAR SERA UNA REALIDAD</h2>
							<p>anunció este miércoles que la réplica del Huáscar en Islay será una realidad. Las declaraciones las hizo durante su visita a Islay, para el inicio de la construcción de una nueva sede de la Defensoría Municipal del Niño y del Adolescente.<br>

								“El Huáscar es un tema que va, sí o sí”
								
								Gobernador regional de Arequipa, Elmer Cáceres Llica.<br>
								El gobernador regional explicó que en 4 meses se estaría concluyendo el perfil técnico para la construcción de esta réplica. Aseguró que este proyecto generará ingresos económicos para la provincia de Islay.<br>
								
								“Uno de los (proyectos) priorizados es la construcción del Huáscar. En su momento polémico, pero creemos que este proyecto va a generar recursos para la provincia de Islay”
								
								</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/05.jpg" class="image"><img src="images/smalls/05.jpg" alt="" /></a>
							<h2>BUSTAMANTE: EMPRESAS DE ASESOR DE KEIKO DEBEN 8 MILLONES A LA SUNAT</h2>
							<p>La empresa Belgamédica tiene una deuda coactiva de S/ 767 mil del 2000 al 2011, por pagos de Fonavi, Essalud y ONP. Por otro lado, el laboratorio AB Chimica tiene una deuda de S/ 7 millones 900 mil soles que corresponden al periodo del 2000 al 2017.<BR>

								Estas dos empresas fueron dadas de baja en 2003, pero según la página web de la Sunat, las deudas han seguido registrándose hasta los años 2011 y 2017. Biogenómica SAC, otra empresa que tiene a Ernesto Bustamante como director, debe a la Sunat S/ 9 130 soles.<br>
								
								El portal Salud con Lupa intentó obtener el descargo del asesor de Keiko Fujimori, pero no respondió nunca forma de comunicación.<br>
								
								Como se recuerda, Bustamante fue uno de los especialistas que encabezaron la campaña de desinformación contra la vacuna de Sinopharm. A pesar de ello, continúa liderando el equipo técnico de Fuerza Popular con el respaldo de Keiko Fujimori.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/06.jpg" class="image"><img src="images/smalls/06.jpg" alt="" /></a>
							<h2>AREQUIPA: ROTURA DE TUBERIA PROVOCÓ QUE 16 VIVIENDAS SE INUNDARAN EN ALTO SELVA ALEGRE</h2>
							<p>Vecinos del sector “A” de Juan Velasco Alvarado, en el distrito de Alto Selva Alegre, fueron afectados por la rotura de una tubería matriz de agua potable.
								 Los hechos ocurrieron la mañana de ayer al promediar las 11.30 de la mañana, cuando una contratista de la EPS Sedapar realizaba trabajos de construcción de un muro de contención en el reservorio de la zona.<br>
								 La salida del agua fue tal que se formó una especie de huaico que afectó 16 inmuebles. 
								 Los propietarios denunciaron lo sucedido en la Policía. Hicieron constatar como se afectaron sus pertenencias.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/07.jpg" class="image"><img src="images/smalls/07.jpg" alt="" /></a>
							<h2>Muere Abimael Guzmán, el líder del grupo guerrillero peruano Sendero Luminoso</h2>
							<p>Abimael Guzmán, el fundador y líder del grupo guerrillero peruano Sendero Luminoso, murió este sábado a los 86 años en la prisión de máxima seguridad en la que cumplía cadena perpetua desde 1992.

								Así informó el propio centro de detención en un comunicado que hizo público el Instituto Nacional Penitenciario de Perú (INPE) en su cuenta de Twitter.
								
								Guzmán falleció a las 6:40 hora local debido a "complicaciones en su estado de salud", de acuerdo al Comité Técnico del Centro de Reclusión (CEREC) de Máxima Seguridad de la Base Naval del Callao.
								
								Su salud había empezado a deteriorarse el 13 de julio y el 20 de ese mes recibió atención geriátrica en un centro de salud, según le dijo a RPP Noticias la jefa del INPE, Susana Silva.
								
								Guzmán llegó a ser el hombre más buscado de Perú en los 80 y los 90.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/08.jpg" class="image"><img src="images/smalls/08.jpg" alt="" /></a>
							<h2>Vacunatón 2021 EN VIVO últimas noticias: así se desarrolla el VacunaFest en varios centros del Perú</h2>
							<p>La octava Vacunatón se realiza a partir de las 7.00 a. m. del sábado 11 hasta las 7.00 p. m. del domingo 12 de setiembre. Este evento se desarrollará en una jornada de 36 horas ininterrumpidas en Lima, Callao y todas las regiones del Perú. El objetivo es llegar al 50% de la población objetivo inmunizada con ambas dosis; es decir, cerca de 14 millones de peruanos.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/09.jpg" class="image"><img src="images/smalls/09.jpg" alt="" /></a>
							<h2>Perú vs. Chile: horario confirmado para el 'Clásico del Pacífico' por las Eliminatorias Qatar 2022</h2>
							<p>La Selección Peruana volverá a jugar en la fecha triple de octubre, donde el periodo de ventana internacional será otra vez de 11 días y su próximo rival será Chile. El ‘Clásico del Pacífico’ se jugará por la undécima jornada y tendrá como escenario el Estadio Nacional de Lima.

								El cotejo se llevará a cabo el jueves 7 de octubre y quedó confirmado este jueves el horario del compromiso. RPP pudo conocer que el Perú vs. Chile será a las 8:00 p.m.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/10.jpg" class="image"><img src="images/smalls/10.jpg" alt="" /></a>
							<h2>Tipo de cambio: ¿A cuánto se cotiza el dólar? Hoy, 11 de setiembre del 2021</h2>
							<p>Al término de la jornada, el precio el dólar se situó en S/4,1030 en el mercado interbancario, un nivel mayor en 0.05% frente al cierre previo. Con el resultado, el billete verde acumuló una subida de 0,20% en la semana. El dólar empezó la jornada del viernes a la baja, sin embargo luego retomó la senda alcista ante la demanda de divisas de parte de inversionistas tras la decisión del BCR de elevar la tasa de interés de referencia en 50 puntos básicos 1%.</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/11.jpg" class="image"><img src="images/smalls/11.jpg" alt="" /></a>
							<h2>Pedro Castillo , ¿Que tan imbécil se puede ser?</h2>
							<p>No solo se habla de su incompetencia y falta de raciocinio, sino también de aquellas personas con la falta de educación y cerebro para votar por este señor salido de alguna esquina de un mundo perdido, en esta nota veremos más profundamente los planes a futuro que tiene este señor para el país, mientras que vemos como toda la inversión extranjera huye del país y cada vez suben más los precios de los alimentos, porque como vamos viendo hasta ahora "hay muchos más pobres en un país rico"</p>
						</article>
						<article class="thumb">
							<a href="images/fulls/12.jpg" class="image"><img src="images/smalls/12.jpg" alt="" /></a>
							<h2>SUSY DÍAZ y su paso por el congreso.</h2>
							<p>Susy Díaz en su paso por el congreso presentó 120 proyectos de ley (más que cualquier otro congresista en la historia de la República) de las cuales 30 han sido aprobadas entre los que destacan:

								-La reducción del IGV al 18% de los productos de primera necesidad y la obligación a los propietarios de hostales a entregar preservativos.
								
								En el 2009 fue sentenciada a 3 años de prisión suspendida por el delito de cohecho activo así como el pago de 200 mil soles de reparación civil, siendo hasta el momento la única congresista que ha pagado integramente dicha pena.</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Información institucional</h2>
									<p>Está a cargo del (de la) viceministro(a) de o IP4 transportes, quien es la autoridad inmediata al (a la) ministro(a) de transportes y comunicaciones y ejerce sus funciones por encargo del ministro, en materia de aeronáutica civil, infraestructura y servicios de transportes de alcance internacional, nacional, regional y local; así como sobre circulación y tránsito terrestre en el marco de la normatividad vigente. En materia de plataformas logísticas las funciones se ejercen en coordinación con los sectores competentes y en el marco de la normativa sobre la materia.</p>
								</section>
								<section>
									<h2>Puede encontrarnos Facebook, Instagram, Twiter y YouTube</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
					
								</p>
							</div>
							<div>
								<section>
									<h2>Estemos en contacto</h2>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<input type="text" name="name" id="name" placeholder="Nombre" />
											</div>
											<div class="field half">
												<input type="text" name="email" id="email" placeholder="Correo electrónico" />
											</div>
											<div class="field">
												<textarea name="message" id="message" rows="4" placeholder="Mensaje"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Enviar" class="primary" /></li>
											<li><input type="reset" value="Borrar" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>
		<!-- Scripts -->		
		</div>
{% endblock %}